<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<servlet>
		<servlet-name>ProprietarioServlet</servlet-name>
		<servlet-class>com.example.servlet.ProprietarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProprietarioServlet</servlet-name>
		<url-pattern>/proprietarios</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>VeiculoServlet</servlet-name>
		<servlet-class>com.example.servlet.VeiculoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VeiculoServlet</servlet-name>
		<url-pattern>/veiculos</url-pattern>
	</servlet-mapping>

</web-app>
